.App {
  text-align: center;
}

body {
  background-color: #15202b;
}

hr {
  color: #17bf63;
  
}

.chronoContainer {

    width: 60%;
    margin: auto;
    color: white;
    margin-top: 10vh;
}



@media (max-width: 40rem) {
  .chronoContainer {
    width: 100%;
  }




 
}



.chronoContainer p {
  font-weight: 500;
  font-size: 1.2em;
  color: black !important;
}



.chrono:hover {
  
  background-color: white;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .cards {
    align-items: center;
    flex-direction: column;
  }
}



.cards img {
  margin-top: 40px;
}

.cards a:visited {
  color: white;
}

.cards a:link {
  color: white;
}

.cards button {
  color: white;
}


@media (max-width: 40rem) {
  .menu {
    display: none;
  }

  .iconLaptop {
    display: none;
  }



 
}

.tlTitle {
  color: black;
  font-size: 1.5em;
  font-family: 'Montserrat' serif;
  text-align: center;
  padding: 10px;
}

.tlSubtitle {
  font-size: 1.2em;
  font-style: italic;
  color: black;
  text-align: center;
}

.menu {
 text-align: left;
}


.menu li {
  display: inline;
  padding: 10px;
}

p {
  color: white;
}

a:link {
  color: #17bf63;
  text-decoration: none;
}

a:visited {
  color: #17bf63  ;

}

.resume {
  width: 2.5em;
  margin-left: 50%;
  margin-bottom: 40px;
}



.resume:hover{
  color: white;
}

.job {
  font-family: montserrat, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.9em;
  color: #17bf63;
  padding: 20px;
}

.habilidades {
  font-family: montserrat, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2em;
  color: #17bf63;
}

.parrafo {
  line-height: 2;
}

.website {
  font-size: small;
}

.name {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 4.5em;
  margin-top: 10px;
  font-weight: 900;
}

.iconLaptop {
  margin-top: 70px;
  margin-bottom:05px;
  width: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parrafo {
  margin-bottom: 20px;
}

.job {
  margin-top: -4%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
