.App {
  text-align: center;
}

body {
  background-color: #16202b;
}

p {
  color: white;
}

.name {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 900;
}

.iconLaptop {
  margin-top: 50px;
  margin-bottom: -20px;
  width: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.parrafo {
  margin-bottom: 20px;
}

.job {
  margin-top: -4%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
